# Docker Compose для Container Optimized Image
# Подробнее: https://cloud.yandex.ru/docs/compute/concepts/coi/docker-compose

version: '3'

services:
  app:
    image: cr.yandex/{{ env.CR_REGISTRY }}/{{ env.CR_REPOSITORY }}:{{ env.IMAGE_TAG }}
    environment:
      PORT: "3333"
      NODE_ENV: production
    restart: always

